{% extends "students/base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Groups List" %}{% endblock meta_title %}

{% block title %}{% trans "Groups List" %}{% endblock title %}
{% block content %}
  <a href="{% url 'groups_add' %}" class="btn btn-primary mb-3">{% trans "Add Group" %}</a>

  <!-- Start Groups Listing -->
  {% if groups %}
    <table class="table table-hover table-striped">
      <thead>
      <tr>
        <th><a href="#">№</a></th>
        <th>
          <a href="{% url 'groups' %}?order_by=title{% if request.GET.order_by == 'title' and request.GET.reverse != '1' %}&amp;reverse=1{% endif %}">
            {% trans "Title" %}{% if request.GET.order_by == 'title' and request.GET.reverse != '1' %} &uarr;{% elif request.GET.order_by == 'title' and request.GET.reverse == '1' %} &darr;{% endif %}
          </a>
        </th>
        <th><a href="#">{% trans "Leader" %}</a></th>
        <th>{% trans "Actions" %}</th>
      </tr>
      </thead>
      <tbody>
      {% for group in groups %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td><a href="{% url 'groups_edit' group.id %}">{{ group.title }}</a></td>
          <td>{% if group.leader %}<a href="{% url 'students_edit' group.leader.id %}">{{ group.leader }}</a>{% else %}{% trans "Not Set" %}{% endif %}</td>
          <td>
            <div class="dropdown">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                {% trans "Action" %}
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'groups_edit' group.id %}">{% trans "Edit" %}</a>
                <a class="dropdown-item" href="{% url 'groups_delete' group.id %}">{% trans "Delete" %}</a>
              </div>
            </div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>{% trans "There is no group in the database yet." %}</p>
  {% endif %}
  <!-- End Groups Listing -->

  {% with object_list=groups %}
    {% include "students/pagination.html" %}
  {% endwith %}
{% endblock content %}
