{% extends "students/base.html" %} 

{% load static %} 

{% block meta_title %}Студенти{% endblock meta_title %} 

{% block title %}Облік Відвідування{% endblock title %}

{% block content %}

<!-- Start Main Page Content -->
<div class="row" id="content-columns">
  <div class="col-sm-12" id="content-column">
    <!-- Mounth -->
    <h6><a href="#">&lArr;</a> June 2022 <a href="#">&rArr;</a></h6>
    <!-- attendance accounting -->
    <div class="tadle-responsive">
      <table
        class="table table-hover table-striped table-bordered table-sm"
      >
        <thead>
          <tr>
            <th>№</th>
            <th>Студент</th>
            <th>Mo 1</th>
            <th>Tu 2</th>
            <th>We 3</th>
            <th>Th 4</th>
            <th>Fr 5</th>
            <th>Sa 6</th>
            <th>Su 7</th>
            <th>Mo 8</th>
            <th>Tu 9</th>
            <th>We 10</th>
            <th>Th 11</th>
            <th>Fr 12</th>
            <th>Sa 13</th>
            <th>Su 14</th>
            <th>Mo 15</th>
            <th>Tu 16</th>
            <th>We 17</th>
            <th>Th 18</th>
            <th>Fr 19</th>
            <th>Sa 20</th>
            <th>Su 21</th>
            <th>Mo 22</th>
            <th>Tu 23</th>
            <th>We 24</th>
            <th>Th 25</th>
            <th>Fr 26</th>
            <th>Sa 27</th>
            <th>Su 28</th>
            <th>Mo 29</th>
            <th>Tu 30</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td><a title="Редагувати" href="#">Літвінов Дмитро</a></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" /></td>
            <td><input type="checkbox" /></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" /></td>
            <td><input type="checkbox" /></td>
            <td><input type="checkbox" /></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" /></td>
            <td><input type="checkbox" /></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" /></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" /></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" /></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" /></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" /></td>
          </tr>
          <tr>
            <td>2</td>
            <td><a title="Редагувати" href="#">Подоба Віталій</a></td>
            <td><input type="checkbox" /></td>
            <td><input type="checkbox" /></td>
            <td><input type="checkbox" /></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" /></td>
            <td><input type="checkbox" /></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" /></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" /></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" /></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" /></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" /></td>
            <td><input type="checkbox" /></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" checked /></td>
          </tr>
          <tr>
            <td>3</td>
            <td><a title="Редагувати" href="#">Дорощук Ігор</a></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" /></td>
            <td><input type="checkbox" /></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" /></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" /></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" /></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" /></td>
            <td><input type="checkbox" /></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" checked /></td>
            <td><input type="checkbox" /></td>
            <td><input type="checkbox" /></td>
            <td><input type="checkbox" checked /></td>
          </tr>
        </tbody>
      </table>
      <!-- End Students Listing -->
    </div>
  </div>
</div>
{% endblock content %}