/* Global Styles */
.alert {
  /*
    Відстань зверху 10px
    Відстань справа 0px
    Відстань знизу 5px
    Відстань зліва 0px
  */
  margin: 10px 0 5px 0;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* Table Styles */
.table td {
  vertical-align: middle;
}

/* Groups Selector */
#group-selector {
  margin-top: 10px;
}
#group-selector label {
  font-weight: bold;
  line-height: calc(1.5em + .75rem + 2px);
}

/* Form Styles */
textarea,
select,
input,
.custom-file,
.input-group {
  max-width: 300px;
}

/* Journal Table Styles */
td.day-box,
th.day-header {
  padding: 4px !important;
  vertical-align: middle !important;
  text-align: center;
}

#ajax-progress-indicator {
  display: none;
}

/* Modal Styles */
.modal-dialog {
  max-width: 600px;
}

.modal-dialog textarea,
.modal-dialog select,
.modal-dialog input,
.modal-dialog .custom-file {
  max-width: initial;
}

/* Footer Styles */
#footer {
  border-top: 1px solid #dee2e6;
  padding-top: 10px;
}
   
