/* Global Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
.alert {
  margin: 10px 0 5px 0;
}
#footer {
  /* Зазначаємо верхню межу елемента: ширина лінії, тип лінії, колір лінії */
  border-top: 1px solid #dee2e6;
  /* зазначаємо верхню межу елемента: ширина лінії, тип лінії, колір лінії */
  padding-top: 10px;
}
/* Group Selector */
#group-selector {
  margin-top: 10px;
}
#group-selector label {
  font-weight: bold;
  line-height: calc(1.5em + 0.75rem + 2px);
}
/* Table Styeles */
.table td {
  vertical-align: middle;
  text-align: center;
}
.table th {
  text-align: center;
  vertical-align: middle;
}
/* Main Page style */
.row h6 {
  text-align: center;
}
/* Form Styles */
textarea,
select,
input,
.custom-file,
.input-group {
  max-width: 300px;
}
/* Journal Table Styles */
td.day-box,
th.day-header {
  padding: 4px !important;
  vertical-align: middle !important;
  text-align: center;
}
#ajax-progress-indicator {
  display: none;
}
  
